<h1 style='text-align: center'>Editing friend</h1>
<br>

<%= render "form", friend: @friend %>

<br>

<div class='show-btn'>
  <%= link_to "Show this friend", @friend, class: 'delete s-btn' %> |
  <%= link_to "Back to friends", friends_path, class: 'delete s-btn' %>
</div>
