/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
     padding: 20px;
 }

 .navigation {
     display: flex;
     flex-direction: row;
     gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
 }

 .link{
     text-decoration: none;
     color: black;
     font-size: 1.6rem;
 }

 .link:hover{
    border-bottom: 1px solid #000;
 }

 .f-header{
     text-align: center;
 }

 #friends{
     width: 70%;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
 }

 .lists{
     width: 80%;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     padding: 0;
 }

 .lists li{
     list-style: none;
     display: flex;
     gap: 10px;
 }

 .friend{
     display: flex;
     gap: 10px;
 }

 .Button{
     padding: 10px 20px;
     background-color: #2D333B;
     border: none;
     border-radius: 5px;
     width: 20%;
     margin: 0 auto;
     margin-top: 20px;
     color: white;
     text-decoration: none;
     display: flex;
     font-size: 18px;
     justify-content: center;
     align-items: center;
 }


 .form-render{
     width: 80%;
     margin: 0 auto;
 }

 .form-render h1{
     text-align: center;
 }

 .form-container{
     width: 50%;
     padding: 20px;
     margin: 0 auto;
 }

 .form-container .form-item{
     display: flex;
     gap: 15px;
     margin-bottom: 10px;
 }

 input{
     width: 80%;
     padding: 8px;
 }

 .submit{
     width: 40%;
 }

 .show-jumbo{
     padding: 40px;
     background: gray;
     width: 70%;
     margin: 0 auto;
     height: 50%;
     color: white;
 }

 .show-btn-container{
     width: 80%;

     display: flex;
 }

 .show-btn{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .s-btn{
     width: 20%;
     text-decoration: none;

 }

 .delete{
     padding: 10px 10px;
     background-color: #2D333B;
     color: white;
     border: none;
     border-radius: 5px;
     display: flex;
     align-items: center;
     margin: 5px;
 }


 footer{
     width: 98%;
     background-color: #2D333B;
     padding: 3px;
     position: fixed;
     top: 50;
     bottom: 0;
 }

 footer p{
     color: white;
     text-align: center;
 }

